@keyframes update-blur {
    0% {
        filter:none;
    }
    50% {
        filter:blur(8px);
    }
    100% {
        filter:none;
    }
}

.analysis {
    position: relative;
    backdrop-filter:blur(20px);
    background:var(--background-alt);
    background:none;
    box-shadow:0 0 10px 0 var(--shadow);
    box-shadow:none;
    border-radius:0.5rem;
    padding:2rem;
    position:relative;

    &.transition {
        animation:update-blur 0.3s ease-in-out;
    }

    @media screen and (max-width:725px) {
        padding:1rem;
    }

    .analysisControls {
        position:absolute;
        top:0;
        right:0;
        padding:1rem;
        display:flex;
        gap:0.5rem;

        @media screen and (max-width:725px) {
            padding:0.5rem;
        }
    }

    .breadcrumbs {
        font-size:1rem;
        font-family:var(--font-display);
        font-variation-settings:'wght' 600;
        text-align:left;
        margin-bottom:1rem;
        color:var(--foreground);
        max-width:50%;

        @media screen and (max-width:1000px) {
            margin-left:4rem;
        }
    }

    .translationHeader,
    .sentenceHeader {
        font-size:0.9rem;
        font-weight:light;
        text-align:center;
        margin-bottom:0.5rem;
        color:var(--foreground);
    }

    .translation,
    .sentence {
        font-size:1.7rem;
        font-weight:bold;
        text-align:center;
        color:var(--foreground);
        @media screen and (max-width:725px) {
            font-size:1.2rem;
        }
    }

    .sentence {
        margin-bottom:1rem;
    }
} 