.audioPlayers {
    display:none;
}

.audioPlayerWrapper {
    position:relative;
}

.audioPlayerLocked {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:1000;
    background:#ffffff;
    padding:2rem;
    border-radius:1rem;
    display:flex;
    flex-direction:row;
    border:2px solid #000000;
    justify-content:center;
    text-align:center;
    align-items:center;
    gap:2rem;
    cursor:pointer;
    svg {
        color:#191f20;
        transform:scale(3) translateY(0px);
    }
    .generateAudioButton {
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:3rem;
        margin-left:1rem;
        .generateAudioButtonText {
            font-size:1.2rem;
            font-weight:bold;
        }
        &:hover {
            color:#5183b8;
            svg {
                color:#5183b8;
            }
        }
    }
    
}

@keyframes slideInFromBottom {
    0% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.audioPlayerLockedPopup {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);   
    z-index:1001;
    background:#fffffffd;
    border:2px solid #050505;
    height:100%;
    width:70%;
    border-radius:1rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:0 2rem;
    gap:1rem;
    align-items:center;
    animation: slideInFromBottom 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    p {
        text-align:center;
    }

    a { 
        display:block;
        padding:1rem 2rem;
        background:#fff;
        border: 1px solid #000000;
        border-radius:0.5rem;
        box-shadow: 0.5rem 0.5rem 0 #171717;
        text-decoration:none;
        color:#000000;
        transition:all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        overflow:hidden;

        svg {
            margin-left:1rem;
            transform:scale(1.5) translateY(1px);
        }
        &:hover {
            transform:translate(0.25rem, 0.25rem);
            box-shadow: 0.25rem 0.25rem 0 #171717;
        }
    }   

    .closePopup {
        position:absolute;
        top:1rem;
        right:2rem;
        cursor:pointer;   
        svg {
            color:#000000;
            transform:scale(1.5);
        }
    }
    @media screen and (max-width:800px) {
        width:90%;
    }
    @media screen and (max-width: 500px) {
        width:100%;
    }
}

.audioPlayerOuter {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:2rem 0;
    gap:4rem;

    &.locked {
        width:fit-content;
        padding:1rem 5rem;
        padding-bottom:2rem;
        border-radius:1rem;
        margin:2rem auto;
        margin-bottom:0;
        filter:brightness(0.2) blur(1px) grayscale(0.9);
        background:#aeaeae76;
    }
    @media screen and (max-width:725px) {
        gap:1rem;
    }
    .speakersOuter {
        display:flex;
        gap:1rem;
        height:10rem;
        width:10rem;
        position:relative;

        &:not(.locked) {
            cursor:pointer;
        }

        .speaker {
            position:absolute;
            transition:all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition:all .2s cubic-bezier(0.19, 1, 0.22, 1);
            transition:all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            .speakerInner {
                border-radius:50%;
                overflow:hidden;
                height:10rem;
                width:10rem;
                border:5px solid #5b6fb0;
                box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
                .speakerImage {
                    transform:translate(0, -12px) scale(1);
                    img {
                        width:100%;
                        height:auto;
                    }
                }
            }
        }

        &.speaker1Active {
            .speaker:first-child {
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                z-index:-1;
                .speakerInner {
                    border:5px solid #c2267c;
                    box-shadow:0 0 15px 2px #c2267c;
                }
            }
            .speaker:last-child {
                top:50%;
                left:0;
                transform: scale(0.5) translate(-90%, -30%);
                z-index:1000;
                opacity:0.9;
                filter:grayscale(0.5) brightness(0.9);
                .speakerInner {
                    border:5px solid #5b6fb0;
                    box-shadow:0 0 6px 3px rgba(0, 0, 0, 0.664);
                }
            }
        }

        &.speaker2Active {
            .speaker:first-child {
                top:50%;
                left:0;
                transform: scale(0.5) translate(-90%, -30%);
                z-index:1000;
                opacity:0.9;
                filter:grayscale(0.5) brightness(0.9);
                .speakerInner {
                    border:5px solid #5b6fb0;
                    box-shadow:0 0 6px 3px rgba(0, 0, 0, 0.664);
                }
            }
            .speaker:last-child {
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                z-index:-1;
                .speakerInner {
                    border:5px solid #3394de;
                    box-shadow:0 0 20px 5px #38b3b5;
                }
            }
        }
    }

    .togglePlaying {
        height: 5rem;
        width: 5rem;
        background: var(--background);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #9c9c9c;
        box-shadow: 0.5rem 0.5rem 0 rgba(87, 88, 92, 0.792);
        position: relative;
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .togglePlayingInner {
            svg {
                color: #202020;
                transform: scale(3);
            }
        }

        &:not(.locked) {
            cursor: pointer;
            &:hover {
                transform: translate(-0.25rem, -0.25rem);
                border: 2px solid rgba(42, 42, 183, 0.826);
                box-shadow: 0.75rem 0.75rem 0 rgba(42, 42, 183, 0.826);
            }

            &:active {
                transform: translate(0.3rem, 0.3rem);
                border: 2px solid rgba(251, 61, 159, 0.833);
                box-shadow: 0.2rem 0.2rem 0 rgba(251, 61, 159, 0.833);
            }
        }
    }
}