@import '@/styles/variables.module.scss';

.conjugation {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border-light);

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        .tag {
            background: var(--primary);
            color: var(--background);
            padding: 0.2rem 0.8rem;
            padding-bottom:0.4rem;
            border-radius: 1rem;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    .formulaContainer {
        .header {
            color: var(--foreground);
            font-weight: 700;
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }

        .stepsList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }

        .stepItem {
            width: 100%;
            background: var(--background-alt);
            color: var(--foreground);
            border-radius: 0.8rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 1px solid var(--border-light);

            &.finalResult {
                background: var(--primary);
                border-color: var(--primary);

                color: var(--background);

                .stepText {
                    color: var(--background);
                    font-weight: 800;
                    font-size: 1.5rem;
                }

                .stepExplanation {
                    color: var(--background-alt);
                }
            }

            .stepContent {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .stepNumber {
                background: var(--foreground-light);
                color: var(--background);
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
                font-weight: bold;
                transform:translateY(0.1rem);

                .stepNumberText {
                    transform:translateY(-2px);
                }
            }

            .stepText {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--foreground);
            }

            .stepExplanation {
                font-size: 0.9rem;
                font-style: italic;
                color: var(--foreground);
            }
        }

        .arrow {
            margin-top:0.5rem;
            color: var(--foreground-light);
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
