
.grammarList {
    margin-top:4rem;

    position:relative;
    .grammarListHeader {
        font-family: var(--font-body);
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
        margin-bottom:1rem;
        color:var(--foreground);
    }
    .grammarListItem {
        margin:0;
        margin-bottom:2rem;

        border:1px solid var(--foreground-light);
        position: relative;
        background:var(--background);
        border-radius: 0.3rem;
        padding: 2rem;
        transition:all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &::after {
            content: '';
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            width: 100%;
            height: 100%;
            background: var(--foreground-light);
            border-radius: inherit;
            z-index: -1;
        }

        .grammarListItemPattern {
            border-bottom:1px solid var(--foreground-light);
            color:var(--foreground);
            padding:1rem;
            text-align:center;
            font-size:2rem;
            font-weight:bold;
            font-variation-settings: "wght" 900;
            border-radius:0.2rem;
            margin-bottom:0.5rem;

            display:flex;
            justify-content:space-between;
            align-items:center;

            .grammarListItemDifficulty {
                font-size:1.4rem;
                font-weight:bold;
                color:var(--foreground);
                display:flex;
                gap:0.2rem;
                border-radius:0 0.2rem 0 0.2rem;
                svg {
                    transform:scale(1.5) translateY(0px);
                }
            }
        }

        .grammarListItemExplanation {
            font-family:var(--font-body);
            font-size:1.2rem;
            font-weight:500;
            font-variation-settings: "wght" 500;
            line-height:1.5rem;
            padding:2rem 1rem; 
            color:var(--foreground);
        }

        .grammarListItemExamples {
            .grammarListItemExamplesHeader {
                font-family:var(--font-body);
                font-size:1.2rem;
                font-weight:bold;
                text-align:center;
                margin-bottom:1rem;
                color:var(--foreground-light);
            }
            .grammarListItemExamplesContent {
                display:flex;
                flex-direction:column;
                justify-content:center;
                flex-wrap:wrap;
                margin:2rem 0 4rem 0;
                gap:5rem;
                .grammarListItemExample {

                    position:relative;

                    & > * {
                        font-weight:100;
                        padding:1rem 3rem;
                        border-radius:3rem;
                        white-space: nowrap;
                    }

                    .grammarListItemExampleOriginal {
                        font-size:1.5rem;
                        background: linear-gradient(to left, var(--foreground), var(--foreground-light));
                        color:var(--background);
                        position:relative;

                        .pronunciation {    
                            position:absolute;
                            top:0;
                            left:0;
                            transform:translate(10%, -80%);
                            font-size:0.9rem;
                            color:var(--foreground-light);
                            background:var(--background-alt);
                            border-radius:3rem;
                            padding:0.2rem 1rem;
                            font-family:var(--font-serif);
                            font-weight:100;
                            max-width:80%;
                        }
                    }
                    .grammarListItemExampleTranslation {
                        position:absolute;
                        top:80%;
                        right:0;
                        font-family:var(--font-serif);
                        font-size:1.3rem;
                        border:1px solid var(--foreground-light);
                        transform:translate(0, -5%);
                        background:var(--background);
                        color:var(--foreground);
                        box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
    }
    @media screen and (max-width:725px) {
        margin-top:3rem;
        .grammarListHeader {
            font-size:1.8rem;
        }
        .grammarListItem {
            margin-bottom:1rem;
            padding: 0.8rem;
    
            &::after {
                top: 0.3rem;
                left: 0.3rem;
            }
    
            .grammarListItemPattern {
                padding:0.7rem;
                font-size:1.3rem;
                gap:0.5rem;
    
                .grammarListItemDifficulty {
                    font-size:0.8rem;
                }
            }
    
            .grammarListItemExplanation {
                font-size:1rem;
                padding:1rem; 
            }
    
            .grammarListItemExamples {
                .grammarListItemExamplesHeader {
                    font-size:1.2rem;
                    margin-bottom:0rem;
                }
                .grammarListItemExamplesContent {
                    margin:1rem 0 4rem 0;
                    gap:3rem;
                    .grammarListItemExample {

                        margin-top:3rem;
                        & > * {
                            font-weight:100;
                            padding:0.5rem 1.5rem;
                            border-radius:1.8rem;
                            white-space: wrap;
                        }
    
                        .grammarListItemExampleOriginal {
                            font-size:1.3rem;
                            .pronunciation {
                                font-size:0.8rem;
                                padding:0.2rem 0.4rem;
                                max-width:100%;
                                transform:translate(-0%, -80%);
                            }
                        }

                        .grammarListItemExampleTranslation {
                            font-size:1rem;
                            transform:translate(-1rem, 10%);
                            max-width:80%;
                            text-align:right;
                            width:fit-content;
                        }
                    }
                }
            }
        }
    }
}