.sentenceNotes {
    margin:2rem 0;
    .sentenceNotesHeader {
        font-family: var(--font-body);
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: left;
        color:var(--foreground);
    }

    .sentenceNotesGrid {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 1rem;
        align-items: center;
        color:var(--foreground);

        .sentenceNoteLabel {
            font-family: var(--font-body);
            font-size: 1.1rem;
            font-weight: bold;
            color:var(--foreground);
        }

        .sentenceNoteValue {  
            font-family: var(--font-body);
            font-size: 1.1rem;
            color:var(--foreground);
        }
    }
    @media screen and (max-width:725px) {
        margin-top:2rem;
        .sentenceNotesHeader {
            font-size:1.8rem;
        }
        .sentenceNotesGrid {
            grid-template-columns: 1fr 2fr;
            .sentenceNoteLabel {
                font-size:1rem;
            }
            .sentenceNoteValue {
                font-size:1rem;
            }
        }
    }
}