.variants {
    
	margin-top:4rem;
	.variantsHeader {
		font-family: var(--font-body);
		font-size: 2.5rem;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1rem;
		color:var(--foreground);
	}

    .variant {
        margin-top:3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:4rem;
    
        .variantContent {
            font-family: var(--font-serif);
            font-size:1.8rem;

            position:relative;

            border: 1px solid var(--foreground-light);
            padding: 2rem;
            margin-bottom: 1rem;
            box-shadow: 0.3rem 0.3rem 0 var(--shadow);
            border-radius:0.5rem;
            margin-left:3rem;

            max-width:50%;

            background:var(--background);

            .variantType {
                position:absolute;
                top:0;
                left:0;
                border-radius:1rem;
                padding:0.5rem 1rem;
                transform:translate(-30%, -40%);
                font-size:1.2rem;
                font-weight:bold;
                color:var(--foreground);
                background:var(--background-alt);
                border:1px solid var(--primary);
            }

            .variantText {
                font-size:1.5rem;
                color:var(--foreground);
            }

            .variantReading {
                border-top:1px solid var(--foreground-light);
                font-size:1.2rem;
                padding:0.5rem 0;
                margin-top:0.5rem;
                color:var(--foreground-light);
            }
        }
        

        .variantWhenToUse {
            font-family: var(--font-body);
            font-size:1.3rem;
            color:var(--foreground);
            opacity:0.6;
            flex:1;
            text-align:center;
        }

        &[data-formality="formal"] {
            .variantContent {
                box-shadow: 0.3rem 0.3rem 0 #575485;

                .variantType {
                    border:1px solid #5e72f4;
                }
            }
        }
        &[data-formality="polite"] {
            .variantContent {
                box-shadow: 0.3rem 0.3rem 0 #1b6844;

                .variantType {
                    border:1px solid #2e6740;
                }
            }
        }
        &[data-formality="casual"] {
            .variantContent {
                box-shadow: 0.3rem 0.3rem 0 #a42547;


                .variantType {
                    border:1px solid #f13063;
                }
            }
        }
    }
    @media screen and (max-width:725px) {
        margin-top:2rem;
        .variantsHeader {
            font-size:1.8rem;
        }
        .variant {
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-top:2rem;
            gap: 0rem;

            .variantContent {
                max-width:90%;
                margin-left:0;
                flex: none;
                font-size:1.8rem;
    
                position:relative;
                border: 2px solid var(--foreground-light);
                padding: 1.1rem 1.4rem;
                border-radius:0.5rem;

                .variantText {
                    font-size:1.2rem;
                }

                .variantType {
                    border-radius:1rem;
                    padding:0.3rem 0.7rem;
                    transform:translate(-10%, -50%);
                    font-size:1rem;
                }
            }
            .variantWhenToUse {
                flex: none;
                margin-top: 0.5rem;
                font-size:1rem;
            }
        }
    }
}