$buttonSize:3rem;

@keyframes blurIn {
    0% {
        backdrop-filter: blur(0px);
        background:transparent;
    }
    100% {
        backdrop-filter: blur(3px);
        background:#00000029;
    }
}

.languageButtonOuter {
    position:relative;
    height:$buttonSize;
    width:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;

    margin-top:0.5rem;

    .picker {

        position: fixed;
        height: 100dvh;
        width: 100dvw;
        backdrop-filter: blur(3px);
        top: 0;
        left: 0;
        z-index: 2000;
        background:#00000029;
        animation: blurIn 0.2s ease-in-out;

        .pickerBackground {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @keyframes expand {
            0% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }

        .pickerContent {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:1.4rem;
            background: var(--background-alt);
            backdrop-filter: blur(10px);
            border-radius: 0.5rem;
            padding: 1rem;
            padding-top:2rem;
            justify-content: center;
            animation:expand 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);

            .pickerHeader {
                text-align:center;
                color:var(--foreground);
                font-family:var(--font-funnel);
                h3 {
                    font-size:1rem;
                }
            }
            .pickerItemContainer {
                width:100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1px;
                width: 15rem;
            }
        }

        .pickerItem {
            button {
                padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                border-radius: 0.3rem;
                width:100%;
                transition: background-color 0.2s;
                display:flex;
                align-items:center;
                justify-content:flex-start;
                gap:1rem;
                padding:0.2rem 0.5rem;

                font-family: var(--font-funnel);
                font-size:1rem;

                color:var(--foreground);
                background:var(--background-alt);

                &:hover {
                    background-color: var(--foreground-lighter);
                }

                svg {
                    font-size: 2rem;
                    transform:translateY(2px);
                }
            }
        }

        &.reverse {
            .pickerContent {
                transform: translateX(-100%);
            }
        }
    }
}

.buttonContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    height:$buttonSize;
    width:fit-content;
    border-radius:0.5rem;
    overflow:hidden;
    background:var(--background-alt);
    animation:blurIn 0.2s ease-in-out;
    padding:0 1rem;
    font-family:var(--font-funnel);
    font-size:1rem;
    color:var(--foreground);
    cursor:pointer;
    &:hover {
        background:var(--foreground-lighter);
    }
    svg {
        margin-left:0.5rem;
    }
    .languageButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background:var(--background-alt);
        &:hover {
            opacity: 0.8;
        }
    
        svg {
            transform:scale(2) translateY(0px);
        }
    }
}


.tooltip {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-alt);
    color: var(--foreground);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    white-space: nowrap;
    z-index: 1000;
    
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0.25rem;
        border-style: solid;
        border-color: var(--background-alt) transparent transparent transparent;
    }
}

.closeTooltip {
    background: none;
    border: none;
    color: var(--foreground);
    margin-left: 0.5rem;
    cursor: pointer;
    padding: 0 0.25rem;
    font-size: 1rem;
    
    &:hover {
        opacity: 0.8;
    }
} 