.dashboard {
    height:100dvh;
    width:100dvw;

    display:flex;
    flex-direction:row;
    align-items:stretch;

    background:var(--background);

    @media (max-width: 1000px) {
        position: relative;
    }
}