.dashboard {
    height:100dvh;
    width:100dvw;

    display:flex;
    flex-direction:row;
    align-items:stretch;

    background:var(--background);

    @media (max-width: 1000px) {
        position: relative;
    }
}

.main {
    flex:1;
    display:flex;
    flex-direction:column;
    min-width:0;
    height:100dvh;
}

.content {
    flex:1;
    min-height:0;
    overflow-y:auto;
    position:relative;
    background:var(--background);
    &.noScroll {
        overflow-y:hidden;
    }
}
