@import '@/styles/variables.module.scss'; 

@mixin header-nav-item {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:4rem;
    padding:0 1rem;
    gap:2rem;
}


.headerNav {
    position:fixed;
    top:0;
    left:0;
    width:100dvw;
    display:flex;
    justify-content:space-between;

    background-color:#0f1c4bd3;
    background-color:#05251788;
    backdrop-filter:blur(10px);
    padding:0.5rem 5rem;

    z-index:1001;

    a {
        font-family:var(--font-serif);
        font-weight:800;
        color:#f3f3f3;
        text-decoration:none;
        font-size: 1rem;
        &:hover {
            opacity:0.5;
        }

        &.headerLinkSpecial {
            color:#ffffff;
            display:inline-block;
            position:relative;
            &:after {
                content:'';
                position:absolute;
                top:0;
                right:0;
                transform:translate(calc(100%),-20%);
                height:12px;
                width:12px;
                border-radius:50%;
                background-color:#ec6b47;
            }
        }

        .profileIcon {
            display:inline-block;
            padding:0.5rem;
            border:2px solid #fff;
            border-radius:50%;
            height:2rem;
            font-size:2rem;
            width:2rem;
            margin-top:0.3rem;
            svg {
                transform:translate(0.2rem,0.2rem);
            }
        }
    }

    .headerNavLeft {
        @include header-nav-item;
    }

    .headerNavCenter {
        @include header-nav-item;
        gap:0.5rem;
        font-family:var(--font-display);
        font-weight:700;
        font-size:1.8rem;
        color:#fff;
        font-family:var(--font-lilita);
        img {
            height:1.4rem;
            width:auto;
            transform:translateY(2px);
        }
    }

    .headerNavRight {
        @include header-nav-item;
    }
    .getStartedButton {
        @include hero-cta;
    }

    z-index:1000;
    
}