.input {
  padding: 1rem var(--spacing-medium);
  border: 1px solid var(--foreground);
  background: var(--background);
  border-radius: var(--border-radius);
  color: var(--foreground);
  width: 100%;
  transition: all 0.2s ease;
  position: relative;
  transform: translate(0, 0);
  box-shadow: 0 0 0 transparent;

  font-family:var(--font-funnel);
  border:none;
  outline:none;
  font-size:1.2rem;
  padding:0;
  min-width:60dvw;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }

  &.default {
    // default styles
  }

  &.large {
    font-size: var(--text-large);
    padding: var(--spacing-medium);
  }

  &.small {
    font-size: var(--text-small);
    padding: calc(var(--spacing-small) / 2);
  }

  &.textarea {
    resize: none;
    overflow: hidden;
    min-height: 1.2rem;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
} 