@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content:center;
}

.languageSwitcherOuter {
    position:relative;
    z-index:1000;
    border:1px solid var(--foreground-light);
    border-radius:0.7rem;

    z-index:1001;

    .languageItem {
        font-family: var(--font-display);
        font-weight:600;
        font-size:1.2rem;
        letter-spacing:0.1rem;
        width:100%;
        cursor:pointer;
        text-align:center;
        color:var(--foreground);
        z-index:100;
        @include flex-center;
        justify-content:flex-start;

        height:3rem;
        width:10rem;

        .languageItemInner {
            @include flex-center;
            gap:0.5rem;
            align-items:stretch;
            .languageItemIcon {
                font-size:1.5rem;
                transform:translate(0, 0.2rem);
                margin-left:0.5rem;
            }
            .languageItemText {
                @include flex-center;
                font-size:1rem;
                text-align:left;
                letter-spacing:0.1rem;
            }
        }
    }

    @keyframes dropdownExpand {
        0% {
            transform:translate(-1px, -1px);
            max-height:0;
        }
        100% {
            transform:translate(-1px, -1px);
            max-height:100dvh;
        }
    }

    .dropdown {

        border:1px solid var(--foreground-light);
        position:absolute;
        top:0;
        left:0;
        border-radius:0.7rem;
        background:var(--background);
        z-index:1000;
        overflow:hidden;
        animation:dropdownExpand 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        transform:translate(-1px, -1px);

        .languageItem:hover {
            background:var(--background-alt);
        }
    }

    .languageSwitcherContainer {
        height:3rem;
        width:10rem;

        background:var(--background);
        border-radius:0.7rem;

        @include flex-center;
        overflow:hidden;
        position:relative;

        &:hover {
            background:var(--background-alt);
            outline:1px solid var(--foreground-light);
        }

        @keyframes languageSwitcherAnimation {
            0% {
                filter:blur(10px);
                transform:translate(0, 0);
            }
            90% {
                filter:blur(2px);
            }
            100% {
                filter:blur(0px);
                transform:translate(0,-50%);
            }   
        }

        .languageSwitcherInner {
            position:absolute;
            color:var(--foreground);

            display:flex;
            flex-direction:column;
            align-items:stretch;

            top:0;
            left:0;

            animation: languageSwitcherAnimation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        }

    }

    @media screen and (max-width: 500px) {
        .languageSwitcherContainer {
            width:8rem;
        }
        .languageItem {
            font-size:0.8rem;
            width:8rem;
            .languageItemInner {
                .languageItemText {
                    font-size:0.8rem;
                }
            }
        }
    }

    .helpTextImage {
        position:absolute;
        top:0;
        left:0;
        transform:translate(-55%, -70%);

        pointer-events:none;

        img {
            width:100%;
            height:auto;
        }

        &.hidden {
            display:none;
        }

        @media (max-width:1500px) {
            transform:scale(0.6) translate(-90%, -80%);
        }
    }
}
