.navBar {
    
    position:relative;
    width:15rem;
    border-right:1px solid var(--foreground-light);

    .navBarSection {
        display:flex;
        flex-direction:column;

        .navBarItem {
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;
            gap:1rem;

            .navBarItemIcon {
                width:2rem;
                height:2rem;
                background:var(--foreground-light);
                border-radius:50%;
            }

            .navBarItemText {           
                font-family:var(--font-body);
                font-size:1.2rem;
                color:#000;
            }
        }
    }

}