@import "../variables.module.scss";

@keyframes expand {
    0% {
        width:fit-content;
        max-width:4rem;
        width:4rem;
    }
    100% {
        width:fit-content;
        max-width:15rem;
        width:15rem;
    }
}

@keyframes expand-text {
    0% {
        opacity:0;
        max-width:0;
        width:0;
    }
    100% {
        opacity:1;
        max-width:15rem;
        width:15rem;
    }
}

.sidebar {
    box-sizing:border-box;
    width:15rem;
    height:100dvh;

    background:var(--background);

    border-right:1px solid var(--foreground-light);

    transition:width 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .sidebarInner {
        width:15rem;
        height:100dvh;
        position:relative;
        box-sizing:border-box;

        padding:1rem;
        transition:width 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        @include flex-center-column;
        justify-content:flex-start;
        align-items:stretch;
        gap:2rem;

        .sidebarSection {

            position:relative;

            .sidebarHeader {
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                align-items:center;
                color:var(--foreground);

                .homeIcon {
                    height:2rem;
                    width:2rem;
                    @include flex-center;
                    cursor:pointer;

                    img {
                        height:1.5rem;
                        width:auto;
                    }
                }

                .collapseButton {

                    border-radius:0.5rem;
                    height:2rem;
                    width:2rem;
                    font-size:1rem;
                    position:relative;
                    
                    @include flex-center;

                    svg {
                        font-size:1.2rem;
                    }

                    &:hover {
                        cursor:pointer;
                        background:var(--foreground-lighter);
                    }
                }
            }

            .sidebarSectionHeader {
                font-family:var(--font-funnel);
                font-size:0.9rem;
                color:var(--foreground-muted);
                margin-bottom:0.5rem;
                padding-left:0.5rem;

            }

            .sidebarSectionItems {
                position:relative;
                width:100%;

                cursor:pointer;

                .sidebarItemFloatyThing {
                    position:absolute;
                    top:0;
                    left:0;
                    height:2rem;
                    width:100%;
                    border-radius:0.5rem;
                    background:var(--foreground-lighter);
                    z-index:0;
                    display:none;

                    transition:transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &.show {
                        display:block;
                    }
                }

                .sidebarSectionItem {
                    @include flex-center-row;
                    justify-content:flex-start;
                    position:relative;
                    z-index:1;

                    background:none;
                    border-radius:0.5rem;

                    &.active {
                        background:var(--foreground-lighter);
                    }

                    &.profileSection,
                    &.newAnalysisSection {
                        transition:background 0.2s ease-in-out;

                        &:hover {
                            background:var(--foreground-lighter);
                        }
                    }
    
                    .sidebarSectionItemIcon {
                        width:2rem;
                        height:2rem;
                        @include flex-center;
                        color:var(--foreground);
                        flex:0 0 2rem;
                        min-width:2rem;
                    }
    
                    .sidebarSectionItemText {
                        font-size:0.9rem;
                        font-weight:500;
                        font-family:var(--font-funnel);
                        flex-grow:1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        min-width:0;
                        color:var(--foreground);
                    }

                    &.sidebarSectionItemPricing {
                        background:#7125c3;
                        transition:background 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                        .sidebarSectionItemIcon,
                        .sidebarSectionItemText {
                            color:#fff;
                        }
                        &:hover {
                            background:rgb(145, 128, 223);
                        }
                    }
                }
            }

        }
    }

    @keyframes collapse {
        0% {
            max-width:100%;
        }
        100% {
            max-width:4rem;
        }
    }
    
    &.collapsed {
        width: calc(4rem + 1px);
        max-width: calc(4rem + 1px);
        overflow: hidden;

        //animation:collapse 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .sidebarInner {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            .sidebarSection {
                .sidebarHeader {
                    .homeIcon {
                        display:none;
                    }
                }
                .sidebarSectionHeader {
                    color:var(--background);
                }

                .sidebarSectionItems {
                    .sidebarItemFloatyThing {
                        width:100%;
                    }
                    .sidebarSectionItem {
                        width:100%;
                        .sidebarSectionItemText {
                            display:none;
                        }
                    }
                }
            }
        }
    }

    @mixin expand-animation {
        animation:expand 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    }

    @mixin expand-text-animation {
        animation:expand-text 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    }

    @mixin expand-transition {
        transition:all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    &.collapsed.expanding {

        @include expand-animation;

        .sidebarInner {

            @include expand-animation;
            .sidebarSection {

                .sidebarHeader {
                    .collapseButton {
                        @include expand-transition;
                        opacity:0;
                    }
                }
                .sidebarSectionItems {
                    .sidebarItemFloatyThing {
                        width:100%;
                    }
                    .sidebarSectionItem {
                        @include expand-transition;
                        max-width:15rem;

                        @include flex-center-row;
                        justify-content:flex-start;
                        flex-wrap:nowrap;

                        max-width:15rem;
                        @include expand-animation;
                        animation-delay:0.1s;
                        .sidebarSectionItemText {
                            display:inline-block;
                            @include expand-text-animation;
                        }
                    }
                }
            }
        }
    }
}