@import '@/styles/variables.module.scss';

.historyContainer {
    @include dashboard-page;

    @media screen and (max-width: 725px) {
        padding: 1.5rem;
    }

    @media screen and (max-width: 500px) {
        max-width: 100dvw;
        width: 100dvw;
        margin: 0;
        padding: 1rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        transform: translateY(-1rem);
        min-height: 100dvh;
        justify-content: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0.625rem);
    }
}

.loading {
    @include loading-text;
}

.sentenceItem {
    background-color: var(--background-alt);
    padding: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--background-alt);
    cursor: pointer;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 0.5rem;

    &:hover {
        outline: 2px solid var(--foreground-muted);
    }
}

.sentenceText {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--foreground);
    font-family: var(--font-kr-serif);
}

.sentenceTranslation {
    font-size: 1rem;
    color: var(--foreground-muted);
    margin-bottom: 0.5rem;
}

.sentenceDate {
    font-size: 0.875rem;
    color: var(--foreground-muted);
    margin: 1rem 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;

    button {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 1rem;
        border: 0.0625rem solid #0070f3;
        border-radius: 0.25rem;
        color: #0070f3;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover:not(:disabled) {
            background-color: #0070f3;
            color: #ffffff;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    span {
        font-size: 1rem;
        color: var(--foreground);
    }
}

.noSentences {
    text-align: center;
    font-size: 1.2rem;
    color: var(--foreground);
    font-family: var(--font-kr-serif);
}

.error {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes expand {
    0% {
        max-height: 3rem;
    }
    100% {
        max-height: 100rem;
    }
}

.languageSelector {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    z-index: 10000;

    .languageList {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background: var(--background-alt);
        border-radius: 0.5rem;
        overflow: hidden;
        max-height: 3rem;
        padding: 0.5rem;

        button {
            background: none;
            border: none;
            height: 2rem;
            width: 2rem;
            padding: 0;
            margin: 0;
            cursor: pointer;

            svg {
                font-size: 2rem;
            }

            &.languageButton {
                cursor: pointer;
            }
        }
    }

    &.show {
        .languageList {
            max-height: 100rem;
            animation: expand 0.5s ease-in-out;
        }
    }

    @media screen and (max-width: 500px) {
      top:1rem;
      right:0rem;
    }
}