@import './variables.module.scss';

@keyframes fade-in-blur {
0% {
	opacity: 0;
		filter: blur(10px);
		transform: translateY(-0.5rem);
	}
	100% {
		opacity: 1;
		filter: blur(0px);
		transform: translateY(0);
	}
}

@mixin fade-in-animation {
	animation: fade-in-blur 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

.pageLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
	@include dashboard-page;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-height: 100dvh;

	padding:0;

	position:relative;

	&.containerWithAnalysis {
		display: block;

		@media screen and (max-width: 725px) {
		}
	}
}

.tryExampleHeader {
	font-family:var(--font-funnel);
	margin-bottom:1rem;
	color:var(--foreground);
}

.testSentences {
	margin-bottom:6rem;

	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	gap:0.5rem;

	max-width:60dvw;

	.exampleSentence {
		font-size:0.9rem;
		margin-bottom:0.5rem;
		position:relative;
		width:fit-content;
		padding:0.5rem;
		cursor:pointer;
		border-radius:0.3rem;

		padding:0.5rem 1rem;
		border-radius:1.5rem;
		border:2px solid var(--foreground-light);
		color:var(--foreground);

		transition:all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

		overflow:hidden;
		@media screen and (max-width:725px) {
			font-size:1rem;
		}

		&.koreanSans {
			font-family:var(--font-kr-sans);
		}

		&:hover {
			background:var(--foreground);
			color:var(--background);
		}
	}
    @media screen and (max-width: 750px) {
		max-width:95dvw;
		gap:0.2rem;
		margin-bottom:0rem;
		max-height:11rem;
		overflow:hidden;
		.exampleSentence {
			font-size:0.8rem;
		}
    }
    @media screen and (max-height: 650px) {
		max-width:70dvw;
		gap:0.2rem;
		margin-bottom:0rem;
		max-height:11rem;
		overflow:hidden;
		.exampleSentence {
			font-size:0.8rem;
		}
    }
}

.infoContainer {
	
	width:50dvw;
	border-radius:0.5rem;
	padding:2rem;
	backdrop-filter: blur(10px);

	@media (max-width:1300px) {
		width:100%;
	}
		
	@media screen and (max-width:725px) {
		padding:1rem;
	}

	.quickLinks {
		display:flex;
		flex-direction:row;
		gap:1rem;
		.quickLink {
			text-decoration:none;
			color:#3c3130;
			padding:1rem;
			border-radius:0.5rem;
			background: rgba(255, 255, 255, 0.502);
			display:flex;
			flex-direction:row;
			align-items:center;
			max-width:15rem;
			gap:1rem;
			svg {
				transform:translateY(3px);
				font-size:2rem;
			}
			transition:all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

			&:hover {
				background: rgba(255, 255, 255, 0.826);
			}
		}

		@media screen and (max-width:725px) {
			flex-direction:column;
			gap:0.5rem;
			.quickLink {
				font-size:0.9rem;
			}
		}
	}


	.legal {
		display:flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;
		gap:1rem;
		margin-bottom:1rem;
		margin-top:2rem;
		
		a {
			padding:0.5rem;
			border-radius:0.3rem;
			display:block;
			text-decoration:none;
			color:#3a57da;
			font-size:1rem;
		}
	
	}
}
